<h1>Contribute to Articles for Procrastinators!</h1>

<h3 class='error'><%= @error %></h3>

<form action='/articles/new' method='post'>
  <div class='form_section'>
    <label for='article_title'>Title:</label>
    <input type='text' id='article_title' name='article_title' value='<%= @title%>'>
  </div>

  <div class='form_section'>
    <label for='article_description'>Description:</label>
    <textarea id='article_description' name='article_description'><%= @description%></textarea>
  </div>

  <div class='form_section'>
    <label for='article_url'>Url:</label>
    <input type='text' id='article_url' name='article_url' value='<%= @url%>'>
  </div>

  <input type='submit' value="Submit" class='button'>
</form>
