<h1>Random is Cool</h1>
<div class='hidden article_div'>
  <h3 id='randomTitle' class='article_title'></h3>
  <p id='randomDescription'></p>
  <a id='randomUrl'></a>
</div>
<div class='hidden error_div' id='random_error'>
  <h3 class='article_title'>Nice try, you have to submit an article first!</h3>
</div>

<br/>

<div class='button_div'>
  <span id='randomTarget' class='button'>Random Button</span>
  <a href='/articles' class='button'>Back to Main</a>
</div>

<script src='/javascripts/app.js'></script>
